# application.yml - REEMPLAZA TODOS LOS .properties
spring:
  profiles:
    active: prod
  config:
    activate:
      on-profile: prod
  datasource:
    url: jdbc:postgresql://dpg-d4vkvme3jp1c73enkccg-a.oregon-postgres.render.com:5432/hotel_db_g5u7
    username: hotel_user
    password: ckb87OHOebeYUWLRiaDMibPjIWMp0GlE
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  sql:
    init:
      mode: always
      schema-locations: classpath:database.sql
      continue-on-error: true
server:
  port: ${PORT:8080}
application:
    name: Hotel Las Americas